<ul>
	<%= debug(@referers) %>
	<% if @referers.blank? %>
		<h2>This link hasn't been referred yet.  It's probably boring</h2>
	<% else %>
	 	<% sort_by_freq(@referers).each do |f| %>
				<li><%= f.http_referer %></li>
		<% end %>
	<% end %>
</ul>