<table class="table table-striped table-condensed" style='width:600px; margin: 0 auto;'>
	<tr>
		<td><b>Short URL</b></td>
		<td><b>Long URL</b></td>
		<td><b>Delete</b></td>
	</tr>
	<% @urls.each do |url| %>
		<tr>
			<td><%= link_to 'localhost:3000/' + url.short_url, url.short_url %></td>
			<td><%= url.long_url %></td>
			<td><%= link_to 'Delete', url, :confirm =>  'Are you sure?', 
																		 :method => :delete,
																		:class => 'btn btn-danger' %></td>
		</tr>
	<% end %>
</table>