<div id='form_div'>
	<div class='centerer'>
		<%= form_for(@url) do |f| %>
			<div class='relativer'>
				<%= f.text_field :long_url, :id => 'url-input' %>
				<%= f.submit 'shorten', :class => 'submit button' %>
			</div>
		<% end %>
	</div>
</div>