<div class='wrapper'>
		<%= form_for(@url, :html => {:class => 'form-inline'}, :remote => true) do |f| %>
				<%= f.text_field :long_url, :id => 'url-input', :placeholder => 'http(s)://' %>
				<%= f.submit 'shorten', :class => 'submit button' %>
		<% end %>
		
		<footer>
			<p id='manage'>Sign in to manage URLs, create vanity short URLs
				 and track clicks and top referrers.</p>		
				<p>site not working? 
					<em>
						<a href='https://www.google.com/chrome' target='_blank' class='pinkie'>
							try a modern browser
						</a>
					</em>
				</p>
				<br />
				<p>hit me up <a href='http://www.twitter.com/ridesbikes' target='_blank'>@ridesbikes</a>, I'm looking for a job!</p>
		</footer>
		

</div>



		 
	