<div class='wrapper'>
		<%= form_for(@url, :html => {:class => 'form-inline'}, :remote => true) do |f| %>
				<%= f.text_field :long_url, :id => 'url-input' %>
				<%= f.submit 'shorten', :class => 'submit button' %>
		<% end %>
</div>