<div class='navbar'>
	<div class='navbar-inner'>

		<h1>
			<%= link_to title, root_path, :style => 'font-family: "Ewert", cursive; font-size: 56px;',
																		:class => 'my-brand relativer span1' %>													
		</h1>
		<p class='tagline span4'>check your URLs</p>
		<div class='right-menu'>
			<%= render 'shared/sign_in'%>
		</div>

	</div>
</div>