<div class='navbar'>
	<div class='navbar-inner'>
		<div class='container'>
			<%= link_to title, root_path, :style => 'font-family: "Ewert", cursive; font-size: 60px;',
																		:class => 'brand' %>
			<%= render 'shared/sign_in'%>
		</div>
	</div>
</div>