.relativer{position:relative;width:auto;padding-left:340px;}
.submit.button{
	background: #99173C;
	display: inline-block;
	text-align: center;
	padding: 9px 34px 11px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px; font-size: 1.3rem;
	line-height: 1;
	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
	position: relative;
	cursor: pointer;
	border: none;
	outline: none;
	margin: 0;
	position:relative;
	margin-left:5px;
	bottom:5px;
}
.centerer{margin-left:0;margin-right:0;position:absolute;}
.submit.button:hover{background:#99173C}
		
.my-brand{color:#fff;text-align:center;margin:0 auto;padding-top:40px;}
.my-brand:hover{text-decoration:none;color:#fff;}
.new-container {width:940px;height:auto;margin:0 auto;}
.big-p{position:absolute;right:100%;top:22%;font-size:20px;}


#form_div{margin-top:120px;background:#EFFFCD;height:60px;padding-top:35px;padding-right:1200px;padding-bottom:15px;position:relative;float:left;}
#url-input{width:500px;font-size:17px;background-color:#eee;
		   box-shadow:inset 1px 1px 4px 1px #ddd;
		   -moz-box-shadow:inset 1px 1px 4px 1px #ddd;
		   -webkit-box-shadow:inset 1px 1px 4px 1px #ddd;height:32px;}

